
<div class="container-fluid">
    <!--Reserved for the profile or logout-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand glorify">
                <span style="color: red;font-family:Helvetica;">Find </span>Me Doctor
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item glorify"><a data-toggle="modal" data-target="#myProfile">Profile</a></li>
                <li class="nav-item glorify"><a data-toggle="modal" data-target="#myModalCreate" target="_self">Create User</a></li>
            </ul>
        </div>
    </div>
    </nav>


    <div class="container-fluid" style="margin-top: 5em">
        <div class="row">
            <div class="col-lg-6">
                <h5>Your Appointments</h5>
                <div>
                <table>
				  <tr>
				    <th>Date</th>
				    <th>Patient</th>
				    <th>Doctor</th>
				    <th>Reason</th>
				    <th>Cancel</th>
				  </tr>
				    
				  <tr ng-repeat="apt in model.currentAppointments">
				    <td>{{apt.date}}</td>
				    <td>{{apt.patient.fName}} {{apt.patient.lName}}</td>
				    <td>{{apt.doctor.fName}} {{apt.doctor.lName}}</td>
				    <td>{{apt.reason}}</td>
				    <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeAppointment(apt.id)"></div></td>
				  </tr>
				  </table>
<!--                     <ul class="list-group" style="overflow-y: auto;height: 250px">
                        <li ng-repeat="apt in model.currentAppointments" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-3"></div>
                                <div class="col-xs-2">
                                    
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>

            </div>
            <div class="col-lg-6">
                <h5>Your Plans</h5>
            </div>
        </div>
    </div>

    <div id="myProfile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-group" autocomplete="off" role="form" name="signUpForm">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="firstname" required class="form-control input-lg" ng-model="model.updatedUser.fName"  placeholder="First Name"/> </div>
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="lastname" required class="form-control input-lg"  ng-model="model.updatedUser.lName" placeholder="Last Name"/> </div>
                                    </div>
                                    <input disabled type="text" name="email"  required class="form-control input-lg" ng-model="model.updatedUser.email" placeholder="Your Email"/>
                                    <input type="password" required name="password" class="form-control input-lg" ng-model="model.updatedUser.password" placeholder="Password"/>
                                    <input type="text" class="form-control input-lg" ng-model="model.updatedUser.address" placeholder="address"/>
                                    <br/>
                                    <div class="col-xs-6 col-md-6">
                                        <br>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block signup-btn" ng-click="model.updateUser()" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Create User</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-group" autocomplete="off" role="form" name="signUpForm">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <input ng-change="model.error=null" type="text" name="firstname" required class="form-control input-lg" ng-model="model.newUser.fName"  placeholder="First Name"/> </div>
                                        <div class="col-xs-6 col-md-6">
                                            <input ng-change="model.error=null" type="text" name="lastname" required class="form-control input-lg"  ng-model="model.newUser.lName" placeholder="Last Name"/> </div>
                                    </div>
                                    <input ng-change="model.error=null" type="text" name="email"  required class="form-control input-lg" ng-model="model.newUser.email" placeholder="Your Email"/>
                                    <input ng-change="model.error=null" type="password" required name="password" class="form-control input-lg" ng-model="model.newUser.password" placeholder="Password"/>
                                    <br/>

                                    <div class="col-xs-6 col-md-6">
                                        <select ng-change="model.error=null" required class = "form-control" style="height: 46px;"  name="singleSelect" ng-model="model.userType" ng-options="x.label for x in model.userOptions">
                                        </select>
                                        <br>
                                    </div>

                                    <div class="col-xs-6 col-md-6" ng-show="model.userType.userType == 'healthPersonnel'">
                                        <input  type="text" name="Provider" class="form-control input-lg" ng-model="model.providerName"  placeholder="Aetna"/>
                                    </div>

                                    <div class="col-xs-6 col-md-6">
                                        <br>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block signup-btn" ng-click="model.createUser()" type="submit">Create this user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>