<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand glorify">
                <span style="color: red;font-family:Helvetica;">Find </span>Me Doctor
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item glorify"><a ng-click="model.logout()">Logout</a></li>
                <li class="nav-item glorify"><a data-toggle="modal" data-target="#myProfile">Profile</a></li>
                <li class="nav-item glorify"><a data-toggle="modal" data-target="#myModalCreate" target="_self">Create User</a></li>
            </ul>
        </div>
    </div>
    </nav>
       <div class="container-fluid" style="margin-top: 10em;">
        <div class="row">
            <div class="col-lg-6">
                <h4>Doctors</h4>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="doctor in model.doctors">
                            <td>{{doctor.fName}}</td>
                            <td> {{doctor.lName}}</td>
                            <td>{{doctor.email}}</td>
                            <td><a data-toggle="modal" data-target="#updateUser" class="pull-left glyphicon glyphicon-pencil" ng-click="model.editUser(doctor)"></a></td>
                            <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeDoctor(doctor.id)"></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Patients</h4>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="patient in model.patients">
                            <td>{{patient.fName}}</td>
                            <td> {{patient.lName}}</td>
                            <td>{{patient.email}}</td>
                            <td><a data-toggle="modal" data-target="#updateUser" class="pull-left glyphicon glyphicon-pencil" ng-click="model.editUser(patient)"></a></td>
                            <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removePatient(patient.id)"></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   </div>
   
          <div class="container-fluid" style="margin-top: 5em">
        <div class="row">
            <div class="col-lg-6">
                <h4>Health Personnels</h4>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Edit</th>
                            <th scope="col">HealthProvider</th>
                            <th scope="col">Delete </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="healthP in model.healthPersonnel">
                            <td>{{healthP.fName}}</td>
                            <td> {{healthP.lName}}</td>
                            <td>{{healthP.email}}</td>
                            <td>{{healthP.hprovider.name}}</td>
                            <td><a data-toggle="modal" data-target="#updateUser" class="pull-left glyphicon glyphicon-pencil" ng-click="model.editUser(healthP)"></a></td>
                            <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeHealthPersonnel(healthP.id)"></div></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
             <div class="col-lg-6">
                <h4>Plans</h4>
                  <div>
	                <table class="table table-striped">
					  <tr>
					    <th scope="col">Name</th>
					    <th scope="col">Provider</th>
					    <th scope="col">Delete</th>
					  </tr>
					    
					  <tr ng-repeat="plan in model.plans">
					    <td>{{plan.name}}</td>
					    <td>{{plan.hp.name}}</td>
					    <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeHealthPlans(plan.id)"></div></td>
					  </tr>
					  </table>
                </div>
            </div>
        </div>
   </div>
   
   
    <div class="container-fluid" style="margin-top: 5em;">
        <div class="row">
             <div class="col-lg-6">
                <h4>Health Providers</h4>
                <div>
                <table class="table table-striped">
				  <tr>
				    <th scope="col">name</th>
                      <th scope="col">Edit</th>
				    <th scope="col">Delete</th>
				  </tr>
				  <tr ng-repeat="provider in model.healthProviders">
				    <td>{{apt.name}}</td>
                      <td><div class="pull-left glyphicon glyphicon-pencil" ng-click="model.editProvider(provider)"></div></td>
				    <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeHealthProviders(provider.id)"></div></td>
				  </tr>
				  </table>

                </div>

            </div>
            <div class="col-lg-6">
                <h4>Appointments</h4>
                <div>
                <table class="table table-striped">
				  <tr>
				    <th scope="col">Date</th>
				    <th scope="col">Patient</th>
				    <th scope="col">Doctor</th>
				    <th scope="col">Reason</th>
				    <th scope="col">Delete</th>
				  </tr>
				    
				  <tr ng-repeat="apt in model.currentAppointments">
				    <td>{{apt.date}}</td>
				    <td>{{apt.patient.fName}} - {{apt.patient.lName}}</td>
				    <td>{{apt.doctor.fName}} - {{apt.doctor.lName}}</td>
				    <td>{{apt.reason}}</td>
				    <td><div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeAppointment(apt.id)"></div></td>
				  </tr>
				  </table>
                </div>

            </div>

        </div>
   </div>
   
   
   <div class="container-fluid" style="margin-top: 5em; margin-bottom:10em;">
   	<h4>Blogs</h4>
        <div class="row" ng-repeat="b in model.blogs" style="border-left: 6px solid red;margin-top:1em;">
             <div class="col-xs-10" >
				<h5>{{b.title}}</h5>
            </div>
            <div class="col-xs-2">
            	<div class="pull-left glyphicon glyphicon-remove" ng-click="model.removeBlog(b.id)"></div>
            </div>
            <div class="col-xs-12" >
            	{{b.content}}
            </div>

        </div>
   </div>
   
   
   
   
   

    <div id="myProfile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-group" autocomplete="off" role="form" name="signUpForm">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="firstname" required class="form-control input-lg" ng-model="model.updatedUser.fName"  placeholder="First Name"/> </div>
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="lastname" required class="form-control input-lg"  ng-model="model.updatedUser.lName" placeholder="Last Name"/> </div>
                                    </div>
                                    <input disabled type="text" name="email"  required class="form-control input-lg" ng-model="model.updatedUser.email" placeholder="Your Email"/>
                                    <input type="password" required name="password" class="form-control input-lg" ng-model="model.updatedUser.password" placeholder="Password"/>
                                    <input type="text" class="form-control input-lg" ng-model="model.updatedUser.address" placeholder="address"/>
                                    <br/>
                                    <div class="col-xs-6 col-md-6">
                                        <br>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block signup-btn" ng-click="model.updateUser()" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Create User</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-group" autocomplete="off" role="form" name="signUpForm">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <input ng-change="model.error=null" type="text" name="firstname" required class="form-control input-lg" ng-model="model.newUser.fName"  placeholder="First Name"/> </div>
                                        <div class="col-xs-6 col-md-6">
                                            <input ng-change="model.error=null" type="text" name="lastname" required class="form-control input-lg"  ng-model="model.newUser.lName" placeholder="Last Name"/> </div>
                                    </div>
                                    <input ng-change="model.error=null" type="text" name="email"  required class="form-control input-lg" ng-model="model.newUser.email" placeholder="Your Email"/>
                                    <input ng-change="model.error=null" type="password" required name="password" class="form-control input-lg" ng-model="model.newUser.password" placeholder="Password"/>
                                    <br/>

                                    <div class="col-xs-6 col-md-6">
                                        <select ng-change="model.error=null" required class = "form-control" style="height: 46px;"  name="singleSelect" ng-model="model.userType" ng-options="x.label for x in model.userOptions">
                                        </select>
                                        <br>
                                    </div>

                                    <div class="col-xs-6 col-md-6" ng-show="model.userType.userType == 'healthPersonnel'">
                                        <input  type="text" name="Provider" class="form-control input-lg" ng-model="model.providerName"  placeholder="Aetna"/>
                                    </div>

                                    <div class="col-xs-6 col-md-6" ng-show="model.userType.userType == 'doctor'">
                                        <input  type="text" name="Specialty" class="form-control input-lg" ng-model="model.tempSpecialty"  placeholder="Internal Medicine"/>
                                    </div>

                                    <div class="col-xs-6 col-md-6">
                                        <br>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block signup-btn" ng-click="model.createUser()" type="submit">Create this user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="updateUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="">&times;</button>
                    <h4 class="modal-title">Update User</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-group" autocomplete="off" role="form" name="signUpForm">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="firstname" required class="form-control input-lg" ng-model="model.updatedUser.fName"  placeholder="First Name"/> </div>
                                        <div class="col-xs-6 col-md-6">
                                            <input type="text" name="lastname" required class="form-control input-lg"  ng-model="model.updatedUser.lName" placeholder="Last Name"/> </div>
                                    </div>
                                    <input ng-change="model.error=null" type="text" name="email"  required class="form-control input-lg" ng-model="model.updatedUser.email" placeholder="Your Email"/>
                                    <input ng-change="model.error=null" type="password" required name="password" class="form-control input-lg" ng-model="model.updatedUser.password" placeholder="Password"/>
                                    <input ng-change="model.error=null" type="text" name="email"  required class="form-control input-lg" ng-model="model.updatedUser.address" placeholder="Your address"/>
                                    <br/>

                                    <div class="col-xs-6 col-md-6" ng-show="model.updatedUser.userType == 'healthPersonnel'">
                                        <input readonly disabled type="text" name="Provider" class="form-control input-lg" ng-model="model.updatedUser.hprovider"  placeholder="Aetna"/>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <br>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block signup-btn" ng-click="model.updateOtherUser()" type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>