<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand glorify">
                    <span style="color: red;font-family:Helvetica;">My</span>Music
                </a>
            </div>
           
         
        	<div style="margin-top: 2em;">   
            <input type="text" class="form-control" placeholder="FirstName" ng-model="model.Doctor.firstName" >
            <input type="text" class="form-control" placeholder="LastName" ng-model="model.Doctor.lastName" >
            </div>
             <button class="btn btn-lg btn-danger btn-block"
                            type="submit"
                            ng-click="model.searchDoctor()">
                        Search By Doctor Name</button>
            
            <div style="margin-top: 2em;">   
            <input type="text" class="form-control" placeholder="FirstName" ng-model="model.Symptom.symptoms">
            </div>
            
             <button class="btn btn-lg btn-danger btn-block"
                            type="submit"
                            ng-click="model.searchBySymptoms()">
                        Search By symptoms</button>
            
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>