<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand glorify">
                    <span style="color: red;font-family:Helvetica;">Find </span>Me Doctor
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item glorify"><a data-toggle="modal" data-target="#myModal">Login</a></li>
                    <li class="nav-item glorify"><a data-toggle="modal" data-target="#myModalSignup" target="_self">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/login.view.client.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <div id="loginForce" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Not allowed here</h4>
                </div>
                <div class="modal-body">
                    <h1>Please login or signup for creating an appointment</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalSignup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="model.clearUserFromModal()">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'views/user/templates/signup.view.client.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand glorify">
                <span style="color: red;font-family:Helvetica;">My</span>Music
            </a>
        </div>

        <div class="container-fluid" style="margin-top: 5em">
            <div class="row">
                <div class="col-lg-6">
                    <h5>Search by doctor first and last name</h5>
                    <input type="text" class="form-control" placeholder="FirstName" ng-model="model.Doctor.firstName" style="width: 300px">
                    <input type="text" class="form-control" placeholder="LastName" ng-model="model.Doctor.lastName" style="width: 300px">
                    <button class="btn btn-small btn-danger btn-block"
                            type="submit" style="width: 100px;margin-top: 2px;margin-left: 100px"
                            ng-click="model.searchDoctor()">
                        Search </button>
                    <div ng-show="model.searchedDoctors.length > 0 && model.displaySearchByName">
                        <ul class="list-group" style="overflow-y: auto;height: 250px">
                            <li ng-repeat="doc in model.searchedDoctors" class="list-group-item">
                                <div class="row">
                                    <a data-toggle="modal" data-target="#loginForce">{{doc.fName + ' ' + doc.lName}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5>Search by Specialty</h5>
                    <input type="text" class="form-control" placeholder="Specialty Name" ng-model="model.Specialty.name" style="width: 300px">
                    <button class="btn btn-small btn-danger btn-block"
                            type="submit"
                            ng-click="model.searchBySpecialty()" style="width: 150px;margin-top: 2px;margin-left: 80px">
                        Search By Specialty</button>
                    <div ng-show="model.searchedDoctors.length > 0  && !model.displaySearchByName">
                        <ul class="list-group" style="overflow-y: auto;height: 250px">
                            <li ng-repeat="doc in model.searchedDoctors" class="list-group-item">
                                <div class="row">
                                    <a >
                                        {{doc.fName + ' ' + doc.lName}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>
