<div class="">
    <div class="row">
        <div class="">
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin form-group" name="loginForm">
                    <input ng-change="model.errorLogin=null" type="text" class="form-control" placeholder="Username"   ng-model="model.user.emailAddress" required autofocus>
                    <input ng-change="model.errorLogin=null" type="password" class="form-control" placeholder="Password"ng-model="model.user.password"required>
                    <button class="btn btn-lg btn-danger btn-block"
                            type="submit"
                            ng-click="loginForm.$valid && model.login(model.user.username,model.user.password)">
                        Sign in</button>
                </form>
            </div>
            <span ng-show="model.errorLogin" class="text-center new-account"  style="z-index: 100;color: red;font-size: large">
                {{model.errorLogin}}
            </span>
            <a style="font-size: 20px" class="text-center new-account" ng-click="model.openSignupModalFromLoginModal()">Create an Account </a>
        </div>
    </div>
</div>